In [1]:
#Q1

In [ ]:
if(marks>90):
    print("A")

In [3]:
#Q2

In [ ]:
if(cost>100000):
    print("tax_amount 15%")

In [4]:
#Q3

In [ ]:
if(city = "jaipur"):
    print("jal mahal")

In [6]:
#Q4

In [29]:
print("input your number")
def getcount():
    
    num = int(input())
    counter = 0 
    
    while(num > 10): 
        print(num)
        num = num/3
        counter = counter + 1
    return (counter)

input your number

In [32]:
getcount()

 31

31
10.333333333333334

2

In [33]:
#Q5

In [34]:
# while loop is used when you iterate over the data with a condition. 
# for example you need odd numbers less than 50, the condition would be

In [35]:
#Q6

In [76]:
i = 1
j = 0
while(i<5):
    while(j<i+1):
        print("*")
        j = j+1
    i = i+1

*
*
*

*
*

*
*

*
*

In [83]:
i = 0 
j = 5
while(i<5):
    while(j>i):
        print("*")
    i = i+ 1

*
*
*
*
*

In [3]:
@print
def testing():
  print('hello!!')
  return 1000

<function testing at 0x0000029E65407D80>

In [11]:
a, b, *_ = [1, 2, 3, 4, 5]
print(_)

[3, 4, 5]

In [12]:
*__, a, b, *_ = [1, 2, 3, 4, 5, 6]
print(__, _)

SyntaxError: multiple starred expressions in assignment (2452090491.py, line 1)

In [13]:
True = False
False = True

print(not True, not False)

SyntaxError: cannot assign to True (2943579786.py, line 1)