In [1]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [6]:
def flat_list_function(list):
    
    flat = []
    for row in list():
        flat.extend(row)
        return flat

In [7]:
flat_list_function(list1)

TypeError: 'list' object is not callable

In [8]:
>>> def flatten_extend(matrix):
...     flat_list = []
...     for row in matrix:
...         flat_list.extend(row)
...     return flat_list
...

In [9]:
flatten_extend(list1)

TypeError: 'int' object is not iterable

In [13]:
dict = {'name': ('nitesh','suresh','ramesh'), 'class':(4,5,6),4:(1,2,3)}

In [27]:
type(dict)

dict

In [15]:
dict.keys()

dict_keys(['name', 'class', 4])

In [16]:
dict.values()

dict_values([('nitesh', 'suresh', 'ramesh'), (4, 5, 6), (1, 2, 3)])

In [17]:
[i for i in dict.values():
    print(i)

('nitesh', 'suresh', 'ramesh')
(4, 5, 6)
(1, 2, 3)

In [18]:
[i for i in dict.values()]

[('nitesh', 'suresh', 'ramesh'), (4, 5, 6), (1, 2, 3)]

In [19]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [24]:
x  = [i for i in list1]

In [25]:
x

[1,
 2,
 3,
 4,
 [44, 55, 66, True],
 False,
 (34, 56, 78, 89, 34),
 {1, 2, 3},
 {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)},
 [56, 'data science'],
 'Machine Learning']

In [33]:
type(list1)

list

In [54]:
new_list = []
for i in list1:
    if(type(i) == dict):
        new_list.append(i.values())
        new_list.append(i.keys())
    elif(type(i) == int):
        new_list.append(i)
    elif(type(i) == str):
        new_list.append(i)
    elif(type(i) == list):
        for j in i:
            if(type(j) == dict):
                new_list.append(j.values())
                new_list.append(j.keys())
            elif(type(j) == int):
                new_list.append(j)
            elif(type(j) == str):
                new_list.append(j)
    elif(type(i) == set):
        new_list.append(i)

In [55]:
new_list

[1, 2, 3, 4, 44, 55, 66, {1, 2, 3}, 56, 'data science', 'Machine Learning']

In [36]:
s = 'dsd'
type(s)

str

In [76]:
for i in list1:
    #if(type(i) == dict):
        print(type(i))
        print(i)
        #new_list.append(i.values())
        #new_list.append(i.keys())

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'list'>
[44, 55, 66, True]
<class 'bool'>
False
<class 'tuple'>
(34, 56, 78, 89, 34)
<class 'set'>
{1, 2, 3}
<class 'dict'>
{1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)}
<class 'list'>
[56, 'data science']
<class 'str'>
Machine Learning

TypeError: can only concatenate list (not "int") to list

In [51]:
q = {1,2,3}
type(q)

set

In [77]:
#################

In [78]:
#Q2

In [94]:
A = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"]
#B = A.reverse()

In [96]:
B = A.copy()

In [100]:
B.reverse()

In [102]:
input = "I want to become a Data Scientist"

In [104]:
input = (input).lower()

In [105]:
input

'i want to become a data scientist'

In [165]:

def rev_function(A,B,input):
    empty_string = ''
    for q in input:
        #print(q)
        for w in range(26):
            if(q == A[w]):
                empty_string = empty_string + (B[w])
        if (q == ' '):
            #else:
            empty_string =  empty_string + ('$')
            #print(empty_string)
    return empty_string

In [166]:
rev_function(A,B,input)

'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg'

In [149]:
empty_string

''

In [134]:
import pandas as pd
pd.concat(empty_string1,"A")

TypeError: concat() takes 1 positional argument but 2 were given

In [140]:
A[5] + A[6] + empty_string2

'fg '

In [139]:
empty_string2 = ' '

In [114]:
        for w in range(26):
            print(A[w])

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [115]:
for q in input: 
    print(q)

i

w
a
n
t

t
o

b
e
c
o
m
e

a

d
a
t
a

s
c
i
e
n
t
i
s
t