In [1]:
## Q1

A database is a colletion of structured information or data, typically stored in a computer system. A database is usually controlled
by a database managment system (DBMS).  Together the data and the dbms along with the applications 
that are associated with them are referred to as a database system often shortened to just database.

In [ ]:
SQL - Structured data 
NOSQL - Not only SQL (Stores unstructured data as well)

In [2]:
### Q2

DDL - Data Definition Language is a subset of SQL. It is a language for describing data and its relationship in a database.

SQL Commands types: 
1. DDL - Data Defintion language
2. DQL - Data Query language
3. DML - Data Manipulation language
4. DCL - Data Control language 
5. TCL - Transaction Control language

List of DDL Commands: 
1. CREATE : create database or it's objects (table, index, functions, views, store procedure and triggers) 
ex: CREATE TABLE table_name (column1 data_type, column2 data_type)

2. DROP - Delete objects from the database 
3. ALTER - Alter the structure of the database
4. TRUNCATE - Remove all records from a table, including all spaces allotcated for the records are removed

In [5]:
### Q3

List of DML Commands: 
1. INSERT - insert data into a table
ex: INSERT INTO table_name (column1, column2, .......) VALUES (value1,value2.......)

2. UPDATE : update existing data within a table

3. DELETE : Delete records from a table

In [6]:
### Q4

DQL : Data Query language
There is only one DQL command in SQL i.e.

    SELECT : it is used to retrieve data from the database

In [9]:
### Q5

Primary Key : primary keys serve as unique identifiers for each row in a database table. 
Foreign Keys : Link data in one table to the data in another table.

In [10]:
## Q6

First we need to create a connection to the database

import mysql.connector

mydb = mysql.connector.connect(
    host = 'abjbjbaj'
    user = "djsdjs"
    password = "dnfdsnf"
)

print (mydb)

# now we can start querying the database using SQL statments.

In [12]:
## Q7

In [ ]:
Order of execution in SQL Query